<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.abelab.hack.dena.db.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="dev.abelab.hack.dena.db.entity.Tag" extends="dev.abelab.hack.dena.db.mapper.base.TagBaseMapper.BaseResultMap"></resultMap>

    <insert id="bulkInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tag(name) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.name})
        </foreach>
    </insert>

    <select id="selectByTripPlanId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT

        tag.*

        FROM tag
        LEFT JOIN trip_plan_tagging AS tpt ON tpt.tag_id = tag.id
        WHERE tpt.trip_plan_id = #{trip_plan_id}
    </select>

</mapper>
